$color_light_black: #212121;
$color_coral: #ec7979;
$color_dark_coral: #ab4949;
$color_light_grey: #86878b;
$color_dark_grey: #333333;
$color_dark_black: #000000;
$color_white: #ffffff;
$color_latte: #f8efef;
$color_tab-border: #c6cbcd;
$color_bg_grey: #f5f5f5;
$color_pricing_grey: rgba(255, 255, 255, 0.5);
$color_reviews_grey: #e2e2e2;